server:
  port: 8102
  servlet:
    context-path: /api
spring:
  application:
    name: interfaceInfo-service
  profiles:
    active: dev
  cloud:
    nacos:
      server-addr: 127.0.0.1:8848
#      server-addr: 8.130.35.69:8848 # nacos地址
#      username: nacos
#      password: Jimmy@2333
  datasource:
    url: jdbc:mysql://127.0.0.1:3306/apihub
    driver-class-name: com.mysql.cj.jdbc.Driver
    username: root
    password: 123456
  # Redis 配置
#  redis:
#    database: 6
#    host: 8.130.35.69
#    port: 6379
#    timeout: 5000
#    lettuce:
#      pool:
#        max-active: 10
#        max-idle: 10
#        min-idle: 1
#        time-between-eviction-runs: 10s
#    password: Jimmy@2333
feign:
  okhttp:
    enabled: true # 开启OKHttp功能
mybatis-plus:
  configuration:
    map-underscore-to-camel-case: false
    default-enum-type-handler: com.baomidou.mybatisplus.core.handlers.MybatisEnumTypeHandler
  global-config:
    db-config:
      update-strategy: not_null
      id-type: auto
      logic-delete-field: isDelete # 全局逻辑删除的实体字段名(since 3.3.0,配置后可以忽略不配置步骤2)
      logic-delete-value: 1 # 逻辑已删除值(默认为 1)
      logic-not-delete-value: 0 # 逻辑未删除值(默认为 0)
logging:
  level:
    com.apihub: debug
  pattern:
    dateformat: HH:mm:ss:SSS
  file:
    path: "logs/${spring.application.name}"
knife4j:
  enable: true
  openapi:
    title: interfaceInfo-service
    description: "接口信息管理服务-接口文档"
    version: v1.0.0
    group:
      default:
        group-name: default
        api-rule: package
        api-rule-resources:
          - com.apihub.interfaceInfo.controller
apihub:
  client:
    access-key: 0c589b511c7c126b32a105195032439b
    secret-key: 29276ec08e5f6ab62a80f7f34c06f718
    api-token: eyJ0eXAiOiJKV1QiLCJhbGciOiJSUzI1NiJ9.eyJ1c2VySWQiOjEsImV4cCI6MTcxMTI0OTUyMX0.LFXOc2rbDl09Nm1HSzAvQ5qbkt4Mvn5-7TCnZudQqVoGYVNXl0kbqVUHawcQyi_U-P8hCK362rIeTAY7aRgU08taY2ygCrBMbNjcMSwxMv2vZMt6hWU_AaOvM-ogA2PhPqyO-QfBDbK1f2ospOTxUMYhIj-e3_8wO_aGX6xzncvGd12PHrTcPwytkrEGsdlwb5DBOnMKVDl9_CSnp-Z01UjdBZyqlE2-UYnvgVBJM3y913FDPYh6G1PsvMqiFyfu9Up1lSCDJ6xQKhdVYbH6_H5Wc_gZqw6ykSTSQvPpSPn7fWfEnhzhOreCgU2oCOqPo3tccARUnaGTBlO-LsFxOg